.container {
    /* width: 83%;
    display: inline-block;
    vertical-align: top; */
    text-align: center;
}
/* 
.container {
    width: 30%;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
} */
